<h1><%= @user.username %>'s page</h1>

<h3><%= @user.username %>'s goals</h3>
<ul>
<% @user.goals.each do |goal| %>
  <% next if (goal.private? && !goal.author?(current_user)) %>
  <li>
    <%= link_to goal.name, goal_url(goal) %>
    <%= link_to("Edit Goal", edit_goal_url(goal)) if goal.author?(current_user) %>
  </li>
<% end %>
</ul>
